*{
   
    padding: 0%;
    margin: 0%;

}
#navber{
    background-color: black;
    height: 60px;
}

button{
    background-color:#f08804;
    
}
#logo{
   color:#f08804;
   font-size:25px;
    
}
a{  
    color:white;
    padding-right: 200px;
    text-decoration: none;
}
#button{
    font-size:15px;
}
#ama{
    color:none;
}
#box{
    
        width: 200px;
        height: 200px;
        background-color: yellow;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 200px;
 
}
#link{
   background-color: blue;
}